a:hover{
    text-decoration: none;
}
#section1{
	background-color:#2ab8ac;
}
#section2{
    background-color: #2AB84E;
}
.part{
    margin-top: 30px;
}
.section{
    min-height: 500px;
}
.header-title{
	color: white;
	font-weight: 600;
    margin-bottom: 80px;
}
.wolf-animation-demo{
	color: white;
	font-size: 40px;
}
.sub-icon{
	display: inline-block;
	text-align: center;
}
.code{
	background: #272822 none repeat scroll 0 0;
	margin: 0.85em 0.5em;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    overflow: auto;
    color: #f8f8f2;
    direction: ltr;
    font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    hyphens: none;
    line-height: 1.5;
    text-align: left;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    border:0px;
}
.div-color{
	color: #f92672;
}
.class-color{
	color: #a6e22e;
}
.class-name-color{
	color: #e6db74;
}
.end-section {
    margin-bottom: 1%;
    margin-top: 4%;
    min-height: 20px;
    text-align: center;
}
.end-section>a{
    color: #FF0000;
}
.float-left{
    float: left;
    position: relative;
    display: inline-block;
}
.around.float-left{
    margin-top: 10px;
}
.icon-demo{
    min-height: 45px;
}